<div class="container">
  <div class="row float-right" *ngIf="timer">Api Call Timer : {{ timer }}</div>

  <div class="row">
    <div class="card mt-5">
      <div class="card-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <label for="first-name" class="form-label"
            ><span class="text-danger">*</span>Full Name:
          </label>
          <input
            class="form-control"
            id="first-name"
            type="text"
            formControlName="fullName"
          />
          <div *ngIf="f.fullName.errors" class="invalid-feedback">
            <div *ngIf="f.fullName.errors.required">Full Name is required</div>
          </div>

          <label for="last-name" class="form-label mt-3"
            ><span class="text-danger">*</span>Upload file: </label
          ><br />
          <input
            id="last-name"
            (change)="onFileSelected($event)"
            type="file"
            class="file-upload"
          /><br />
          <div
            *ngIf="isSubmitted && f.profileImage.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.profileImage.errors.required">
              File Upload is required
            </div>
          </div>
          <div class="show-image" *ngIf="imgURL">
            <img class="profile-image" [src]="imgURL" />
          </div>

          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reponse</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">{{ message }}</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>
